.product-page {
  text-align: center;
  padding: 20px;
  background-color: wheat;
  min-height: 100vh;
}

.data-grid-container {
  display: inline-block;
  width: auto;
  /* max-width: 60%; */
  margin: 0 auto;
  background-color: #028481;
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .product-page {
    padding: 15px;
  }

  .data-grid-container {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
  }
}
